node_modules/
dist/
.DS_Store
*.log
mingit/
mingit.zip
test*.js
.env.local
.env.development.local
.env.test.local
.env.production.local

.vercel
CobbDashboard/billed_customer_group.json
CobbDashboard/customer_numbers.txt
CobbDashboard/sent_bills.txt
find_b*.js
reconciliations.json
